.menufijo {
    background: rgba(0,0,0,0.9);
    width: 100%;
    position: fixed;
    z-index: 1000;
}
a {
    font-size:14px;
    font-weight:700
  }
  .superNav {
    font-size:13px;
  }
  .form-control {
    outline:none !important;
    box-shadow: none !important;
  }
  @media screen and (max-width:540px){
    .centerOnMobile {
      text-align:center
    }
  }

  .titmenu{
    text-align: center;
    color: white;
    margin-bottom: 0px;
  }